server:
  port: 8000
  servlet:
    context-path: "/api/"
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: false

spring:
  application:
    name: api
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true
  datasource:
    url: "jdbc:postgresql://localhost:5432/code-grade"
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: code.grade.dev@gmail.com
    password: calbczrhcavneogl
    properties.mail.smtp:
      auth: true
      starttls.enable: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

auth:
  super-admin:
    username: admin
    password: 12345
  jwt:
    secretKey: 9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l
    expiresIn: 14

