server:
  port: 8000
  servlet:
    context-path: "/api/"
  error:
    include-message: always
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false

spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true
  datasource:
    url: "jdbc:postgresql://localhost:5432/code-grade"
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always

eureka:
  client:
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: localhost

auth:
  super-admin:
    username: admin
    password: 12345
  jwt:
    secretKey: 9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l
    expiresIn: 14

