server:
  port: 8000
  servlet:
    context-path: "/api/"
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: false


spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  datasource:
    url: "jdbc:postgresql://localhost:5432/codegrade"
    username: postgres
    password: user
    driver-class-name: org.postgresql.Driver

auth:
  super-admin:
    username: admin
    password: 12345
  jwt:
    secretKey: 9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l9g2f6l
    expiresIn: 14